{% extends 'template.html' %}
    
    {%block head_scripts%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="#" />
    
    {% endblock %}

    {% block body %}
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8" id ="section_desc">
                    <div class = "box main">
                            <div class = "heading">
                            <h1 >
                                <span class= "white thin"> Website Overview</span>
                            </h1>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-6">
                    <div class = "box">
                        <div class = "box_main" style = "font-size: 20px">
                            <p>This site was created to help visualize various college metrics supplied by <a href = "https://collegescorecard.ed.gov/data/documentation/" target = "__blank">www.collegescorecard.ed.gov</a>.</p>
                            <p>Current data is from calendar year 2017 and is updated annually.</p>
                            <ul>
                                <li style = "list-style-type: none">Information provided includes:</li>
                                <ul>
                                    <li>school Name</li>
                                    <li>State</li>
                                    <li>City</li>
                                    <li>In State Tuition</li>
                                    <li>Out of State Tuition</li>
                                </ul>   
                            </ul>
                        <p> This site is built with a PostgreSQL and Flask backend and includes visualizations using Plotly, Leaflet, D3, Google Charts and Fusion Charts. More info on these libraries can be found in the <a href = "/references" target = "__blank"><strong>Library References</strong></a> section.</p>

                        </div>
                    </div>
                </div>
                <div class = "col-md-2" id = "padding"> </div>
                <div class = "col-md-3"></div>
            </div>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8" id = "section_two">
                    <div class = "box_secondary">
                        <div class ="heading2">
                            <h1>
                                <span class= "white thin">Metrics</span>

                                </h1>
                        </div>
                    </div>
                </div>
                <!-- <div class = "col-md-3" id = "padding2"> </div> -->
            </div>
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-6">
                    <div class="card-columns">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Total Schools</h5>
                                <div class = "schools"></div>
                            </div>
                        </div>
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Total States & Provinces</h5>
                                <div class = "states"></div>
                            </div>
                        </div>
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title"> HighestTuition</h5>
                                <div class = "highest"></div>
                            </div>
                        </div>
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title"> Lowest Tuition</h5>
                                <div class = "lowest"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" id="padding2"> </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        {% endblock %}
        
        {% block body_scripts %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        
        <script src="../static/dashboard.js"></script>
        {% endblock %}
