<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">

    <title>College Database</title>

  </head>

  <header>
        <div class= "container">
            
            <div class="row">
                <div class="col-md-12 jumbotron text-center" id = "jumbo" >
                  <h1><a href = "/" title = "Home" id = "logo"><h1 class="logo">College Database</h1></a></h1></div>
              </div>
        </div>
    </header>
    <div class = "row" id = "navigation_panel">
        <div class ="col-md-3"></div>
        <div class = "col-md-9">
            <nav>
                <ul>
                    <li><a href="/metrics">College Financial Info</a></li>
                    <li><a href="/school_state">School by State</a></li>
                    <li><a href="/sliding_Scale">Map</a></li>
                </ul>
            </nav>
        </div>
        
    </div>
<br>
     <body>
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-md-3"></div>
                <div class = "col-md-6" id ="section_desc">
                    <div class = "box main">
                            <div class = "heading">
                            <h1 >
                                <span class= "white thin"> Website Overview</span>
                            </h1>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-3"></div>
                <div class = "col-md-4">
                    <div class = "box">
                        <div class = "box_main">
                            <p>This site was built to help visualize various college metrics supplied by <a href = "https://collegescorecard.ed.gov/data/documentation/" target = "__blank">www.collegescorecard.ed.gov</a>.</p>
                            <p>Data is from calendar year 2017 and is updated annually.</p>
                            <ul>
                                <li>Information provided includes:</li>
                                <ul>
                                    <li>school Name</li>
                                    <li>State</li>
                                    <li>City</li>
                                    <li>In State Tuition</li>
                                    <li>Out of State Tuition</li>
                                </ul>   
                            </ul>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class = "col-md-2" id = "padding"> </div>
                <div class = "col-md-3"></div>
            </div>
            <div class = "row">
                <div class = "col-md-3"></div>
                <div class = "col-md-6" id = "section_two">
                    <div class = "box_secondary">
                        <div class ="heading2">
                            <h1>
                                <span class= "white thin">Metrics</span>

                                </h1>
                        </div>
                    </div>
                </div>
                <!-- <div class = "col-md-3" id = "padding2"> </div> -->
            </div>
            <div class = "row">
                <div class = "col-md-3"></div>
                <div class = "col-md-4">
                    <div class="card-columns ">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Total Schools</h5>
                                <div class = "schools"></div>
                            </div>
                        </div>
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title">Total States & Provinces</h5>
                                <div class = "states"></div>
                            </div>
                        </div>
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title"> HighestTuition</h5>
                                <div class = "highest"></div>
                            </div>
                        </div>
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="card-title"> Lowest Tuition</h5>
                                <div class = "lowest"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" id="padding2"> </div>
                <div class="col- md-3"></div>
            </div>
        </div>
        <br>
        <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <footer>
                        <section>
                            <div class="footer_content">
                                <nav class="unstyled">
                                    <ul>
                                        <li><a href="https://github.com/cemoga/visualization-project">GitHub</a></li>
                                        <li><a href="#"> privacy Statement</a></li>
                                        <li><a href="#">Terms of Use</a></li>
                                        <li><a href="#">Site map</a></li>
                                    </ul>
                                </nav>
                                <p>Last updated 03Jan2020</p>
                                <p>© 2019 College Database</p>
                            </div>
                        </section>
                    </footer>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        
        <script src="../static/dashboard.js"></script>
    </body>
</html>
