<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="shortcut icon" href="#" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>College Database</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Plotly.js -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="shortcut icon" href="#" />

</head>
<header>
    <div class="container">

        <div class="row">
            <div class="col-md-12 jumbotron text-center" id="jumbo">
                <h1><a href="/" title="Home" id="logo">
                        <h1 class="logo">College Database</h1>
                    </a></h1>
            </div>
        </div>
    </div>
</header>
<div class="row" id="navigation_panel">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <nav>
            <ul>
                <li><a href="/metrics">College Financial Info</a></li>
                <li><a href="/school_state">School by State</a></li>
                <li><a href="/sliding_Scale">Map</a></li>
            </ul>
        </nav>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Metrics</li>

    </ol>
</nav>
<br>


<body>
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-sm-12">
                <div class="maptitle"></div>
                <div class="maptext"></div>
                <div class="plot" id="plotdivmap" style="margin-top: 0;"></div>
                <div class="control-row" style="text-align: center;">
                    <b> Variable:</b> <select class="variabledata"></select>
                    <b> State:</b> <select class="statedata"></select>
                    <b> City:</b> <select class="citydata"></select>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="text-align: center;">
            <div class="col-sm-12">
                <div class="gaugetitle"></div>
                <div class="gaugetext"></div>
            </div>
            <br>
            <div class="col-sm-4" style="width: 100%;">
            </div>
            <div class="col-sm-4" style="width: 100%;">
                <div id="chart_div"> </div>
            </div>
            <div class="col-sm-4" style="width: 100%;">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="titlemetadata">
                    <h3>Metadata</h3>
                </div>
                <div class="textmap">text</div>
                <div class="textsource">
                    <br>
                    <b>Source of data : </b><a href="https://collegescorecard.ed.gov/data/documentation/"
                        target="_blank">US Department of Education
                        - API</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="text-align: center;">
            <div class="col-sm-12">
                <div class="tabletitle"></div>
                <div class="tabletext"></div>
            </div>
            <br>
            <div class="col-sm-12" style="width: 100%;">
                <div id="table_div"></div>
            </div>
        </div>

    </div>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"> </script>
    <script src="../static/metrics.js">
    </script>

</body>
<div class="footer">
    <div class="row">
        <div class="col-md-12">
            <footer>
                <section>
                    <div class="footer_content">
                        <nav class="unstyled">
                            <ul>
                                <li><a href="https://github.com/cemoga/visualization-project">GitHub</a></li>
                                <li><a href="#"> privacy Statement</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Site map</a></li>
                            </ul>
                        </nav>
                        <p>Last updated 03Jan2020</p>
                        <p>© 2019 College Database</p>
                    </div>
                </section>
            </footer>
        </div>
    </div>
</div>