<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
  
    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
  
    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
    <title>College Database</title>

</head>


<header>
    <div class="container">

        <div class="row">
            <div class="col-md-12 jumbotron text-center" id="jumbo">
                <h1><a href="/" title="Home" id="logo">
                        <h1 class="logo">College Database</h1>
                    </a></h1>
            </div>
        </div>
    </div>
</header>
<div class="row" id="navigation_panel">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <nav>
            <ul>
                <li><a href="/metrics" target="_blank">College Financial Info</a></li>
                <li><a href="/school_state" target="_blank">School by State</a></li>
                <li><a href="/sliding_Scale" target="_blank">Map</a></li>
            </ul>
        </nav>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">School by State</li>

    </ol>
</nav>
<br>

<body>
    
    <div class = "viz">
        <div class="map">map goes here</div>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="../static/config.js"></script>
    <script src="../static/app.js"></script>

</body>

<div class="footer">
    <div class="row">
        <div class="col-md-12">
            <footer>
                <section>
                    <div class="footer_content">
                        <nav class="unstyled">
                            <ul>
                                <li><a href="https://github.com/cemoga/visualization-project" target="_blank">GitHub</a></li>
                                <li><a href="/references" target="_blank"> Library References</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="https://support.google.com/webmasters/answer/156184?hl=en" target="_blank">Site map</a></li>
                            </ul>
                        </nav>
                        <p>Last updated 03Jan2020</p>
                        <p>© 2019 College Database</p>
                    </div>
                </section>
            </footer>
        </div>
    </div>
</div>

</html>