<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head_scripts %}{% endblock %}

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">
    <link rel="shortcut icon" href="#" />
    <title>College Database</title>

  </head>

  <header>
        <div class= "container">
            
            <div class="row">
                <div class="col-md-12 jumbotron text-center" id = "jumbo" >
                  <h1><a href = "/" title = "Home" id = "logo"><h1 class="logo">College Database</h1></a></h1></div>
              </div>
        </div>
    </header>
    <div class = "row" id = "navigation_panel">
        <div class ="col-md-3"></div>
        <div class = "col-md-9">
            <nav>
                <ul>
                    <li><a href="/metrics" target="_blank">College Financial Info</a></li>
                    <li><a href="/school_state" target="_blank">School by State</a></li>
                    <li><a href="/sliding_Scale_in" target="_blank">Avg. In State Tuition by State</a></li>
                    <li><a href="/sliding_Scale_out" target="_blank">Avg. Out of State Tuition by State</a></li>
                </ul>
            </nav>
        </div>
        
    </div>
    {% block breadcrumbs %} {% endblock %}
    <br>
     <body>
         {% block body %} {% endblock %}
        
        <br>
        <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <footer>
                        <section>
                            <div class="footer_content">
                                <nav class="unstyled">
                                    <ul>
                                        <li><a href="https://github.com/cemoga/visualization-project" target="_blank">GitHub</a></li>
                                        <li><a href="/references" target="_blank"> Library References</a></li>
                                        <li><a href="#" target="_blank">Terms of Use</a></li>
                                        <li><a href="https://support.google.com/webmasters/answer/156184?hl=en" target="_blank">Site map</a></li>
                                    </ul>
                                </nav>
                                <p>Last updated 03Jan2020</p>
                                <p>!© 2019 College Database</p>
                            </div>
                        </section>
                    </footer>
                </div>
            </div>
        </div>
        {% block body_scripts %}{% endblock %}
    </body>
</html>
